.Body1 {
    border-radius: 25px;
    background-color: #00203FFF;
    color: white;
    width: 300px;
    height: 400px;
    padding: 10px;
    border: 3px solid black;
    position: absolute;
    left: 350px;
    top: 100px;
}

.Body2 {
    border-radius: 25px;
    background-color: #00203FFF;
    color: white;
    width: 300px;
    height: 400px;
    padding: 10px;
    border: 3px solid black;
    position: absolute;
    left: 800px;
    top: 100px;
    text-align: center;
}

.sloganSpan {
    position: relative;
    border-radius: 6px;
    top: 5px;
    background-color: rgb(72, 100, 134);
    height: 100px;
    color: white;
    font-family: monospace;
}

.keywordsSpan {
    border-radius: 6px;
    position: relative;
    top: 30px;
    background-color: rgb(72, 100, 134);
    height: 180px;
    color: white;
    font-family: monospace;
    word-wrap: break-word;
}

.Keywords {
    position: relative;
    top: 15px;
}

.mainBody {
    background-color: rgb(72, 100, 134);
    width: 360px;
    height: 340px;
}

.Title {
    font-family: monospace;
    font-size: 15px;
    text-align: center;
    position: relative;
    bottom: 30px;
    color: white;
}

.logo {
    position: relative;
    left: 25px;
    bottom: 20px;
}

::placeholder {
    color: white;
    opacity: 0.6;
}

.Button {
    border-radius: 25px;
    position: relative;
    bottom: 25px;
    left: 6px;
    height: 50px;
    width: 90%;
    padding: 10px;
}

.Button:hover {
    background-color: rgb(219, 219, 191);  
}

.input-area {
    border-radius: 3px;
    position: relative;
    color: white;
    bottom: 20px;
    left: 17px;
    width: 200px;
    height: 50px;
    resize: none;
    background-color: rgb(72, 100, 134);
}

.counter {
    font-family: monospace;
    font-size: 15px;
    position: relative;
    bottom: 60px;
    left: 245px;
    color: rgb(177, 176, 176);
}
