.mainBody {
    background-color: rgb(72, 100, 134);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    min-height: 100vh;
}

.Body1 {
    border-radius: 25px;
    background-color: #00203FFF;
    color: white;
    width: 300px;
    height: 450px;
    padding: 10px;
    border: 3px solid black;
    text-align: center;
    margin-right: 1.5%;
    margin-bottom: 1.5%;
}

.Body2 {
    border-radius: 25px;
    background-color: #00203FFF;
    color: white;
    width: 300px;
    height: 450px;
    padding: 10px;
    border: 3px solid black;
    text-align: center;
    margin-right: 1.5%;
    margin-bottom: 1.5%;
}

.sloganSpan {
    font-size: large;
    position: relative;
    border-radius: 6px;
    top: 5px;
    background-color: rgb(72, 100, 134);
    height: 150px;
    color: white;
    font-family: monospace;
}

.keywordsSpan {
    font-size: large;
    border-radius: 6px;
    position: relative;
    top: 30px;
    background-color: rgb(72, 100, 134);
    height: 150px;
    color: white;
    font-family: monospace;
    word-wrap: break-word;
}

.Keywords {
    position: relative;
    top: 15px;
}

.Title {
    font-family: monospace;
    font-size: 15px;
    text-align: center;
    position: relative;
    bottom: 30px;
    color: white;
}

.logo {
    position: relative;
    bottom: 15px;
}

::placeholder {
    color: white;
    opacity: 0.6;
}

.Button {
    border-radius: 25px;
    height: 60px;
    width: 290px;
    position: relative;
    bottom: 10px;
}

.Button:hover {
    background-color: rgb(219, 219, 191);
}

.input-area {
    border-radius: 3px;
    position: relative;
    color: white;
    bottom: 20px;
    right: 40px;
    width: 200px;
    height: 63px;
    resize: none;
    background-color: rgb(72, 100, 134);
}

.counter {
    font-family: monospace;
    font-size: 15px;
    color: rgb(177, 176, 176);
    position: relative;
    bottom: 70px;
    left: 110px;
}

.icons {
    position: relative;
    top: 60px;
    margin-right: 20px;
}
